/Andora/.DS_Store
/Andora/node_modules
/Andora//dist
/Andora/.env.local
/Andora/.env.*.local
/Andora/npm-debug.log*
/Andora/yarn-debug.log*
/Andora/yarn-error.log*
/Andora/pnpm-debug.log*
/Andora/.idea
/Andora/.vscode
/Andora/*.suo
/Andora/*.ntvs*
/Andora/*.njsproj
/Andora/*.sw?

/sanktuarium-maryjne/.cache/
/sanktuarium-maryjne/.idea/
/sanktuarium-maryjne/node_modules/
/sanktuarium-maryjne/public/