header {
	margin-top: 200px;
	text-align: center;
	font-size: 4rem;
	font-weight: 900;

	span {
		font-size: 3rem;
		font-weight: 400;
	}
}
#grid-container {
	display: grid;
	margin-top: 25px;
	grid-template-columns: repeat(4, 1fr);
}
.grid-item {
	cursor: pointer;
	margin: 5 5px;
	img {
		height: 100px;
	}
}
