@import "../palette.scss";
main {
	width: 90%;
	margin-top: 50px;
}
table {
	width: 100%;
	
	a {
		color: $accent-dark;
	}
}
table, td {
	border: 1px solid $accent-dark;
}
td {
	padding: 5px 10px;
	min-width: 150px;
	min-height: 50px;
}
h4 {
	margin: 15px;
}
article {
	overflow: auto;
}