@import '../palette.scss';
.lista {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    margin-bottom: 50px;
    margin-top: -100px;
}

ul {
    padding-left: 32px;
    padding-right: 32px;
}

li {
    padding-bottom: 32px;
}

#design {
    font-size: 40px;
    border-style: solid;
    border-color: $dark2;
    border-bottom-color: $accent-dark;
}

.listBorder {
    justify-content: space-between;
    margin-top: 30px;
    border-style: solid;
    border-color: $accent-dark;
}

#tworzenie {
    font-size: 40px;
    border-style: solid;
    border-color: $dark2;
    border-bottom-color: $accent-dark;
}

.tworzenie {
    margin-top: 30px;
    border-style: solid;
    border-color: $accent-dark;
}

#publikowanie {
    margin-top: 100px;
    font-size: 40px;
    border-style: solid;
    border-color: $dark2;
    border-bottom-color: $accent-dark;
}

.publikowanieBorder {
    justify-content: space-between;
    margin-top: 30px;
    border-style: solid;
    border-color: $accent-dark;
}