// Paleta kolorów
$dark1: #130f40;
$dark2: #30336b;
$light1: #dff9fb;
$light2: #f6e58d;
$accent: #f9ca24;

// Zmienna z liczbą przy której strona powinna zmniejszyć się do portu mobilnego
$mobile: 1205px;